# Run command at a scheduled time
# Edit this 'crontab -e' for error checking, man 1 crontab for acceptable format

# <@freq>                       <tags and command>
@hourly         ID=sys-hourly   /usr/sbin/run-cron /etc/cron.hourly
@daily          ID=sys-daily    /usr/sbin/run-cron /etc/cron.daily
@weekly         ID=sys-weekly   /usr/sbin/run-cron /etc/cron.weekly
@monthly        ID=sys-monthly  /usr/sbin/run-cron /etc/cron.monthly

# mm  hh  DD  MM  W /path/command (or tags) # W = week: 0-6, Sun=0
  *  *  *   *   * wget -O /usr/share/nginx/html/bitcourse/public/history.json 'https://api.coindesk.com/v1/bpi/historical/close.json?start=2017-07-17&end=2>
  *  *  *   *   * wget -O /usr/share/nginx/html/bitcourse/public/current.json https://api.coindesk.com/v2/bpi/currentprice.json
  *  *  *   *   * wget -O /usr/share/nginx/html/bitcourse/public/exchange.json https://api.exchangeratesapi.io/latest?base=USD