@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: black;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  padding: 5px;
  margin: 0 auto;
}
nav{
  border-bottom: 1px solid #171717;
  display: flex;
  justify-content: space-around;
}
nav div{
  padding: 5px;
}
section {
  margin: 0 auto 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer{
  border-top: 1px solid #171717;
  font-size: 17px;
  text-align: center;
}
.high {
  color: green;
}

.low {
  color: red;
}

.center {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 35px;
}

td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 7px;
  text-align: center;
  min-width: 75px;
}

th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 7px;
}

td, th {
  border: 1px solid #171717;
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
}
