<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <script src="{{ asset('js/chart.js') }}"></script>
    <meta name="description" content="Cryptocurrency chart and price">
    <meta name="keywords" content="bitcoin, etherum, crypto, Cryptocurrency, price, chart">
    <meta http-equiv="content-language" content="en">
    <link rel="shortcut icon" href="/images/favicon.png">
</head>
<body onload="json();">
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/js.js') }}"></script>
{% endblock %}
</body>
</html>
